:root{
    background-color: cadetblue;
    border:2px solid black
}

.wrapper-header{
    display: grid;
    gap: .5rem;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "hero hero hero"
    "content content content"
    "content content content"
    ;
}

.wrapper-hero{

}

header{
    grid-area:header;
    text-transform: uppercase;
    font-size:45px;
    text-align: center;
}

nav{
    grid-area: nav;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: orchid;
    border: 1px solid black;
    text-align: center;
    padding:1rem;
    font-size:20px;
}

.hero > img{
    grid-area:hero;
    width:;
    max-height:400px;
}

content{
    grid-area: content;
}